<% content_for :head do %>
  <script style="text/javascript">
    var timerStatusEl, runStatusEl, testEl, updateTimer, updateCountdown;

    function getRun(){
      $.ajax({
        url: '<%= get_useragent_runs_path %>',
        success: function(data){
          timerStatusEl.html('');

          if (data.run) {
            runStatusEl.html("Loading...");
            testEl.attr('src', data.run.url);

            var loadFunc = function(){
              testEl.unbind('load', loadFunc);
              startRun();
            };
            testEl.bind('load', loadFunc);
          } else {
            if (data.message) {
              runStatusEl.html(data.message);
            } else {
              runStatusEl.html("Unknown Error");
            }
            testEl.attr('src', '');
            setTimeout(startCountdown, 3000);
          }
        }
      });
    }

    function startRun(){
      var testWin;
      try {
        testWin = testEl[0].contentWindow;
      } catch (e){};
      if (testWin && testWin.RubySwarm) {
        runStatusEl.html("Running...");
      } else {
        runStatusEl.html("No tests to run");
      }
      setTimeout(startCountdown, 3000);
    }

    function startCountdown(){
      updateCountdown = 5; //<%= RubySwarm::RUN_UPDATE_FREQUENCY %>;
      timerTick();
    }

    function timerTick(){
      updateCountdown = updateCountdown - 1;

      if (updateCountdown === 0) {
        timerStatusEl.html('Updating...');
        getRun();
      } else {
        timerStatusEl.html('Update in '+updateCountdown);
        setTimeout(timerTick, 1000);
      }
    }

    function testSubmission(params){
      console.log('testSubmission', params);
      runStatusEl.html("Results -- Fail: "+params.fail+", Error: "+params.error+", Total: "+params.total);
    }

    $(document).ready(function(){
      timerStatusEl = $('#timer_status');
      runStatusEl = $('#run_status');
      testEl = $('#test_runner');
      startCountdown();
    });
  </script>
<% end %>

<%= @client.inspect %>

<div id="timer_status"></div>
<div id="run_status"></div>

<iframe id="test_runner" style="width: 800px; height: 600px"></iframe>
